.cursor-pointer {
    cursor: pointer;
}

.link-transparent {
    opacity: 0.7;
    cursor: pointer;
}

.link-transparent:hover {
    opacity: 1;
}

.dark-mode .list-group .list-group-item.active {
    background-color: #3F6791;
}

.dark-mode a.list-group-item-action:not(.active) {
    color: #bebebe;
}

.dark-mode a.list-group-item-action:not(.active):hover {
    background-color: #333333;
}

.dark-mode a.list-group-item-action.active {
    color: white;
}

.dark-mode .breadcrumb-item:not(.active)>a {
    color: #66a8ee;
}

.dark-mode .breadcrumb-item:not(.active)>a:hover {
    color: #9dccff;
}

.dark-mode .content-box .container {
    color: #fff;
}

.mw-1 {
    max-width: 100px;
}

.mw-2 {
    max-width: 200px;
}

.mw-3 {
    max-width: 300px;
}

.mw-4 {
    max-width: 400px;
}

.mw-5 {
    max-width: 500px;
}

.mw-6 {
    max-width: 600px;
}

.mw-7 {
    max-width: 700px;
}

.mw-8 {
    max-width: 800px;
}

.mw-9 {
    max-width: 900px;
}

.border-fade {
    border: solid 1px;
    border-color: #dddddd;
    border-radius: 10px;
}

.dark-mode .border-fade {
    border-color: #4c545c;
}

.text-fade {
    color: #cdcdcd;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

table td.fit,
table th.fit {
    white-space: nowrap;
    width: 1%;
}